
/* import styled from 'styled-components'; */


.mw-markers-summary-sheet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3in;
  height: 5in;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: 'Beleren', 'Garamond', serif;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.mw-markers-summary-border-frame {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  padding: 6px;
  height: 100%;
}


.mw-markers-summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  grid-template-rows: repeat(10, 1fr);   /* 10 equal rows */
  /* gap: 10px;  Optional: Adds space between grid items */
  width: 80%; /* Adjust as needed */
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #f1f1f1;

  border: 2px solid #000;  /* Border around the entire grid */
}


.mw-markers-summary-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  height: 80px;  /* Adjust height as needed */

  border-bottom: 3px solid #000;  /* Border between rows */
  border-right: 3px solid #000;   /* Border between columns */

  /* Remove the last column and row borders to avoid double lines */
  &:nth-child(3n) {
    border-right: none;
  }
  &:nth-last-child(-n+3) {
    border-bottom: none;
  }
}
