.mtg-card {
  /* width: 300px; */
  width: 2.5in;
  height: 3.5in;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: 'Beleren', 'Garamond', serif;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mtg-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}

.mtg-card-name {
  flex: 1;
}

.mtg-card-mana {
  flex: 0 0 auto;
}

.mtg-card-image {
  width: 100%;
  /* height: 200px; */
  height: 1.61in;
  background-color: #ddd;
  margin: 10px 0;
}

.mtg-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
}

.mtg-card-type {
  font-size: 1rem;
  margin-bottom: 5px;
  font-style: italic;
}

.mtg-card-text {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.mtg-card-power-toughness {
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between cards */
  align-items: flex-start;       /* Aligns cards to the top */
  gap: 20px;                     /* Adds space between the cards */
  padding: 20px;
}